<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Current genes we have</h1>

   <table>
    <tr><th>Gene ID</th></tr>
    {% for gene in genes %}
    <tr><td><a href="/gene/{{gene.pk}}"> {{gene}} </a></td></tr>
    {% endfor%}
   </table>

   <h2>Create EC Entry</h2>

   <a href="/create_ec">Add EC Entry</a>

   <a href="create_gene/"> Add genes</a>
   <br/>
</body>
</html>